#wishlist-icon:hover{
    color: rgb(252, 56, 56);
    background-color: #7f7f7f;
}

.iconClass{
    position: relative;
}
.iconClass span{
    position: absolute;
    top: 0px;
    right: 0px;
    display: block;
}

@media only screen and (max-width: 768px){
    .iconClass span {
        right: auto;
        display: inline;
    }
}

.img-background {
    height:600px;
    background-image: url('../images/home_bundle.jpg');
    background-size: cover;
    filter: saturate(1.4) brightness(98%);
    background-position: center;
    background-repeat: no-repeat;
    
}


.primary-btn{
    background-color: #efaa08a9;
    color: rgba(0, 0, 0, 0.862);
    border: none;
}

.primary-btn:hover{
    background-color: #efa908;
    color: rgba(0, 0, 0, 0.984);
}

.secondary-btn{
    background-color: rgb(255, 182, 12);
    color: white;
    border: none;
}

.secondary-btn:hover{
    background-color: rgb(223, 158, 7);
    color: white;
}


.color-1{
    color: #efa908;
}

.primary-bg{
    background-color: #ffe7ae36; 
    /* ffe7ae36 */
}